@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-color: #323232;
}

.body-content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: #BD9494;
    margin: -5px;
}
.slogan {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #E9E3D9;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #E9E3D9;
}


.book-question {
    padding: 75px;
    }
.input-box {
    background-color: rgba(0, 0, 0, 0);

    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: #E9E3D9;
    text-align: left;

    width: 1095px;
    border: 3px solid #E9E3D9;

    padding: 25px 45px;
    border-radius: 43px;
    display: inline-block;
}

.generate-button {
    text-align: center;
}


.go-button {
    background-color: #BD9494;
    border: none;
    padding: 25px 70px;
    border-radius: 43px;
    display: inline-block;


    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #323232;
    }